<h2>Attractions</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Tickets</th>
    <th>Details</th>
  </tr>
  <% @attractions.each do |attraction| %>

    <tr>
      <tr><%= attraction.name %></tr>
      <tr>Tickets</tr>
      <tr><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></tr>
    </tr>



  <% end %>
</table>
